/* Left Side Shop Area styles  */
.shop-parent{
  display: grid;
  grid-template-columns: 8fr 4fr;
  justify-items: stretch;
  align-items: stretch;
}

/* Place Order Css */
.card{
  display: flex;
  align-items: center;
  margin: 50px 60px 20px 100px;
  position: relative;
  border: 1px solid #262626;
  border-radius: 10px;
  padding: 16px;
}

.img > img {
  border-radius: 20px;
}

.des{
  padding-left: 30px;
}
.cancle_button{
  position: absolute;
  top: 3px;
  right: 6px;
}

.rating-container{
  margin: 8px 0;
}

.quantity_price{
  font-weight: 700;
  margin-bottom: 10px;
}

.bi-x-circle-fill{
  font-size: 22px;
}
.order_success{
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  background: #262626;
  padding: 35px 0px;
  display: flex;
  justify-content: center;
  color: #9C9C9C;
  text-align: center;
  line-height: 22px;
}

.key_text{
  color: #67A6F8;
}

.footer_text a {
 text-decoration: none;
 color: #67A6F8;
 margin-left: 10px;
}

.cart_area{
  position: fixed;
  width: 35%;
  right: 0;
  top: 0;
  margin-top: 150px;
}
